.my {
    // padding-top: 2rem;
    a {
        color: inherit;
        border: none;
        margin-right: 1rem;

        &:hover {
            border: none;
        }
    }
    padding-top: 2rem;
}

#bio {
    display: table-cell;
    
    #author {
        display: block;
        font-weight: 600;
    }

    #headline {
        display: block;
        font-size: 0.8rem;
        margin-top: -0.2rem;
        padding-bottom: 1rem;
    }
}