/* Links */

a {
    color: #f21368;
    text-decoration: none;

    &:hover {
        color: #f54e8e;
    }

    &.image-link {
        border-width: 0;
    }

    code[class*='language-'] {
        color: var(--link-color) !important;

        &:hover {
            background: var(--link-color) !important;
            color: white !important;
        }
    }
}
